@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.thumbail-image{
  list-style:none;
}

.imge{
  height:2.7rem;
  width:2.7rem;
  border-radius:0.5rem;
  opacity:0.5;
}

.active{
  height:2.7rem;
  width:2.7rem;
  border-radius:0.5rem;
  opacity:1;
}
button{
  background-color:transparent;
  border:none;
  height:2.7rem;
  width:2.7rem;
  border-radius:0.5rem;
}